# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\004-Fundamental Programing in Java\Java2-Lab-6\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
